<!DOCTYPE html>
<html> 
	<head>
		<!--<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">-->
		<title>Concierge</title> 
		
		
		
		<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />  
		<!--<link rel="stylesheet" href="../_assets/css/jqm-docs.css"/>-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
		
		<!--
		<link rel="stylesheet"  href="jquery.mobile-1.0a4.1.min.css" />
		<script type="text/javascript" src="jquery-1.5.min.js"></script>
		<script type="text/javascript" src="jquery.mobile-1.0a4.1.min.js"></script>-->

		
	</head> 

	<body>
	 
	<div data-role="page">
	 
	    <div data-role="header" data-position="fixed">
	        <h1>Concierge</h1>
			<div data-role="fieldcontain" data-position="fixed">
				<label for="search"></label>
				<input type="search" name="password" id="search" value="" />
			</div><!--/SearchForm-->
	    </div><!-- /header -->
	 
		
	
	
	    <div data-role="content">
		

			<ul data-role="listview"  data-theme="c" data-dividertheme="b">
				<!--<li data-role="list-divider">Serviços</li>-->

				<li><a href="">Serviço 1</a></li>
				<li><a href="">Serviço 2</a></li>
				<li><a href="">Serviço 3</a></li>
				<li><a href="">Serviço 4</a></li>
				<li><a href="">Serviço 5</a></li>
				<li><a href="">Serviço 6</a></li>
				<li><a href="">Serviço 7</a></li>
				<li><a href="">Serviço 8</a></li>
				<li><a href="">Serviço 9</a></li>
				<li><a href="">Serviço 10</a></li>

				<li><a href="docs/lists/index.html">List views</a></li>
			</ul>

			
			
	    </div><!-- /content -->
	 
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>

					<li><a href="#" >Configurações</a></li>
				</ul>
			</div><!-- /navbar Configurações-->
			<div data-role="navbar">
				<ul>

					<li><a href="#">Login</a></li>
				</ul>
			</div><!-- /navbar Login-->
				<div data-role="navbar">
				<ul>

					<li><a href="#">Histórico</a></li>
				</ul>
			</div><!-- /navbar Histórico-->	
		</div><!-- /footer -->

	</div><!-- /page -->
 	</body>
</html>