<!DOCTYPE html>
<html>
    <head>
        <title>Watson</title>

        <link rel="stylesheet" href="/static/ui-lightness/jquery-ui-1.8.13.custom.css"/>
        <link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.css"/>
        <link rel="stylesheet" href="/static/style.css"/>
        <script src="/static/jquery-1.5.2.min.js"></script>
        <script src="/static/script.js"></script>
        <script src="/static/jquery.mobile-1.0a4.1.min.js"></script>
        <script src="/static/jquery-ui-1.8.13.custom.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        {% block map_imports %}
        {% endblock %}
    </head>

    <body>
        <!-- Start of first page -->
        <div data-role="page"  data-add-back-btn="{% block back_btn %}true{% endblock %}" id="{% block page_id %}{% endblock %}" {% block redirect %}{% endblock %} class="{% block page_class %}{% endblock %}">
            <script type="text/javascript">
                {% if g.user %}
                    auth = true;
                {% else %}
                    auth = false;
                {% endif %}
            </script>

            {% block header %}
            <div data-role="header" data-position="fixed" data-id="concheader">
                <h1>Watson</h1>
            </div><!-- /header -->
            {% endblock %}


            {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="notifications">
            {% if messages %}
                {% for category, message in messages %}
                <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            </div>
            {% endwith %}

            {% block page_content %}{% endblock %}

            {% block footer %}
                <div data-role="footer" style="position:fixed; bottom:0;" data-id="concfooter">
                        <div data-role="navbar">
                            <ul>
                                <li><a href="/settings">{{ _('Settings') }}</a></li>
                                <li>
                                {% if session.get("auth") == True %}
                                <a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                                {% else %}
                                <a href="{{ url_for('auth.login') }}" data-transition="slideup">{{ _('Login') }}</a>
                                {% endif %}
                                </li>
                                <li><a href="/history">{{ _('History') }}</a></li>
                            </ul>
                        </div><!-- /navbar -->
                </div><!-- /footer -->
            {% endblock %}

            {% block page_end %}{% endblock %}
        </div><!-- /page -->
    </body>
</html>
