<!DOCTYPE html>
<html>
    <head>
        <title>Concierge</title>

        <link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.min.css"/>
        <link rel="stylesheet" href="/static/style.css" type="text/css"/>
        <script src="/static/jquery-1.5.2.min.js"></script>
        <script src="/static/jquery.mobile-1.0a4.1.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <!-- <script type="text/javascript"> -->
            <!-- $('.ui-page').live('pagehide', function(){ $(this).remove(); }); -->
        <!-- </script> -->
    </head>

    <body>

        <!-- Start of first page -->
        <div data-role="page" id="{% block page_id %}{% endblock %}" {% block redirect %}{% endblock %} {% block class %}{% endblock %}>
            <script type="text/javascript">
                {% if g.user %}
                    auth = true;
                {% else %}
                    auth = false;
                {% endif %}
            </script>

            {% block header %}
            <div data-role="header" data-position="fixed" data-id="concheader" data-backbtn="false">
                <h1>Concierge</h1>
            </div><!-- /header -->
            {% endblock %}

            {% block page_content %}{% endblock %}

            {% block footer %}
                <div data-role="footer" data-position="fixed" data-id="concfooter">
                        <div data-role="navbar">
                            <ul>
                                <li><a href="/settings">Settings</a></li>
                                <li>
                                {% if session.get("auth") == True %}
                                <a href="/auth/logout">Logout</a>
                                {% else %}
                                <a href="/auth/login" data-transition="slideup">Login</a>
                                {% endif %}
                                </li>
                                <li><a href="/history">History</a></li>
                            </ul>
                        </div><!-- /navbar -->
                </div><!-- /footer -->
            {% endblock %}

        </div><!-- /page -->
    </body>
</html>
