{% extends "base.html" %}

{% block page_id %}favorites{% endblock %}

{% block redirect %}data-url="/services/favorites"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>Favorites</h1>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">
    <ul data-role="listview" data-theme="c" data-dividertheme="a">
        {% for service in favorites %}
        <li><a href="/services/{{service.id}}">{{service.name}}</a></li>
        {% endfor %}
    </ul>
</div><!-- /content -->


<script type="text/javascript">
    $('#favorites').live('pagebeforeshow', function(event) {
        if (!auth) {
            var list = $('#favorites ul');
            list.empty();
            for (var i = 0; i < localStorage.length; i++) {
                var key = localStorage.key(i);
                if (key.indexOf("service_favorite.") === 0) {
                    var id = parseInt(key.substring("service_favorite.".length));
                    list.append('<li><a href="/services/' + id + '">' + localStorage.getItem('service_name.' + id) + '</a></li>');
                }
            }
            list.listview('refresh');
        }
    });
</script>
{% endblock %}

{% block footer %} {% endblock %}


