{% extends "base.html" %}

{% block page_id %} favorite_list {% endblock %}

{% block redirect %} data-url="/services/favorites_list" {% endblock %}

{% block header %}
    <div data-role="header" data-backbtn="false">
        <h1>Favorites</h1>
        <a href="/settings" class="ui-btn-left">Back</a>
    </div><!-- /header -->
{% endblock %}
	
{% block page_content %}
	<div data-role="content">					
        <ul data-role="listview"  data-theme="c" data-dividertheme="b">
            {% for service in favorites %}
                <li><a href="/services/{{service.id}}">{{service.name}}</a></li>
            {% endfor %}
		</ul>
	</div><!-- /content -->
{% endblock %}

{% block footer %} {% endblock %}


