{% extends "base.html" %}

{% block page_id %}history{% endblock %}

{% block redirect %}data-url="/history"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>History</h1>
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">
        <ul data-role="listview"  data-theme="c" data-dividertheme="b">
            {% for entry in history %}
            <li><a href="/search/{{entry.id}}">{{entry.search_query}}</a></li>
            {% endfor %}
        </ul>
    <form action="/history" method="post">    
        <div data-role="fieldcontain">
            <button type="submit" data-theme="a" name="submit" value="submit-value">Clear History</button>
        </div>        
    </form>
    
</div><!-- /content -->

<script type="text/javascript">
    $("#history form").submit(function(e) {
        if(!auth){
            var len = localStorage.length;
            for (var i = (len-1); i >= 0; i--){
                    var key = localStorage.key(i);
                    if (key.indexOf("history") == 0)
                        localStorage.removeItem(key);
                }
            localStorage.removeItem('entry_id');
        }
    });

    $('#history').live('pagebeforeshow', function(event){
        if (!auth) {
            var list = $("#history ul");
            list.empty();
        
            var keys = [];
            for (var i = 0; i < localStorage.length; i++){
                var key = localStorage.key(i)
                if (key.indexOf("history") == 0)
                    keys.push(key);
            }
            
            keys.sort(function(a,b){
                var id1 = a.substring("history.".length);
                var id2 = b.substring("history.".length);
                return id1-id2;
            });
            
            for (var i = 0; i < keys.length; i++){
                    key = keys[i];
                    var entry = localStorage.getItem(key);
                    var id = key.substring("history.".length);
                    split_entry= entry.split("\0");
                    var li = '<li><a href="/search/' + id + '">' + split_entry[0] + '</a></li>';
                    list.prepend(li);
                }
            list.listview('refresh');
        }
    });
</script>
{% endblock %} 

{% block footer %} {% endblock %}

