{% extends "base.html" %}

{% block page_id %} historico {% endblock %}

{% block page_content %}

			<div data-role="content">	
			
				<ul data-role="listview"  data-theme="c" data-dividertheme="b">
					<!--<li data-role="list-divider">Serviços</li>-->
					<li><a href="index.html">Pesquisa 1</a></li>
					<li><a href="index.html">Pesquisa 2</a></li>
					<li><a href="index.html">Pesquisa 3</a></li>
					<li><a href="index.html">Pesquisa 4</a></li>
					<li><a href="index.html">List views</a></li>
					<li class="ui-body ui-body-b">
						<fieldset class="ui-grid-a">
								<div class="ui-block-b"><button type="submit" data-theme="a">Eliminar historico</button></div>
						</fieldset>
					</li>
				</ul>
			</div><!-- /content -->
{% endblock %}
















	<body> 



	</body>
