{% extends "base.html" %}

{% block page_id %}index{% endblock %}

{% block redirect %}data-url="/"{% endblock %}

{% block header %}
<div data-role="header"  data-id="concheader" data-backbtn="false">
    <h1>Concierge</h1>

    <div class="ui-btn-right">
        <select data-theme="a" data-icon="arrow-d" data-native-menu="false" data-iconpos="notext" tabindex="-1"> 
            <option value="name">Order by name</option> 
            <option value="created">Order by date</option>
            <option value="user.username">Order by provider</option>
            <option value="active">Order by status</option>
        </select>
    </div>

    <div data-role="header" data-position="inline" data-theme="c">
        <form action="/search" method="POST">
            {% for field in search_form %}
                {{field(placeholder=field.label.text) }}            
                {% for error in field.errors  %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endfor %}
        </form>
        <a href="/custom_search" data-icon="gear" data-iconpos="notext" class="ui-btn-right">Custom Search</a>
    </div>

</div><!-- /header -->

<script type="text/javascript">

//    $('#index').load(function(event){
//        $("#index ul").listview('refresh');
//    });

    $("#index form").submit(function(e) {
        if (!auth) {
            var query = $('#index input[name="{{search_form.search_query.name}}"]').val();
            var entry_id = localStorage.getItem("entry_id");
            if (entry_id == null)
                entry_id = 0;
            var entry = query + "\0" + "global"
            localStorage.setItem("history." + entry_id, entry ); 
            entry_id= parseInt(entry_id) +1;
            localStorage.setItem("entry_id", entry_id);
        }
    });
</script>

{% endblock %}

{% block page_content %}
<div data-role="content">
    <ul data-split-icon="star"  data-role="listview"  data-theme="c"  data-dividertheme="a" data-inset="True" id="service_list">
        <li data-role="list-divider">Services</li>
        {% for service in services %}
        <li>
        <a href="/services/{{service.id}}/browse">{{service.name}}</a>
        <a href="/services/{{service.id}}"></a>
        </li>
        {% endfor %}
    </ul>
</div><!-- /content -->
{% endblock %}


{% block footer %}
<div data-role="footer" data-position="fixed" data-id="concfooter" >
    <div data-role="navbar">
        <ul>
            <li><a href="/settings">Settings</a></li>
            <li>
            {% if session.get("auth") == True %}
            <a href="/auth/logout">Logout</a>
            {% else %}
            <a href="/auth/login" data-transition="slideup">Login</a>
            {% endif %}
            </li>
            <li><a href="/history">History</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->

<script type="text/javascript">
    $("#index select").bind('change', function() {
        var option = $("#index select").val();
        var url = "?order_by=" + option;
        var list = $("#index ul");
        $.ajax({
            type: "GET",
            url: url
        });
    });
    
//    $("#index ul").ajaxSuccess(function() {
//        $(this).listview('refresh');
//    });    
</script>
{% endblock %}
