{% extends "base.html" %}

{% block page_id %} index {% endblock %}

{% block redirect %} data-url="/" {% endblock %}

{% block header %}
	<div data-role="header"  data-id="concheader" data-backbtn="false" >
		<h1>Concierge</h1>

		<div data-role="header" data-position="inline" data-theme="c">
            <form action="/search/" method="post">
                        {% for field in search_form %}
                            {{field(placeholder=field.label.text) }}
                            <span class="error">
                                {% for error in field.errors  %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endfor %}
            </form>
            <a href="/custom_search/" data-icon="gear" data-iconpos="notext" class="ui-btn-right">Custom Search</a>
		</div>

	</div><!-- /header -->

    <script type="text/javascript">
    var auth = false;
    {% if g.user %}
        auth = true;
    {% endif %}
    $("form").submit(function(e) {
        if (!auth) {
            var query = $('input[name="{{search_form.search_query.name}}"]').val();
            var history = localStorage.getItem("history");
            if (history == null)
                history = "";
                
            if (query != ""){
                history = history + query  + "\0";
                localStorage.setItem("history", history);
            }
        }
    });
    </script>   
    
{% endblock %}

{% block page_content %}


	<div data-role="content">
		<ul data-split-icon="star"  data-role="listview"  data-theme="c"  data-dividertheme="a" data-inset="True">
			<li data-role="list-divider">Services</li>
            {% for service in services %}
                <li>
		    <a href="/services/{{service.id}}/browse/">{{service.name}}</a>
		    <a href="/services/{{service.id}}"></a>
		</li>
            {% endfor %}
		</ul>
	</div><!-- /content -->

{% endblock %}


{% block footer %}
    <div data-role="footer" data-position="fixed" data-id="concfooter" >
            <div data-role="navbar">
                <ul>
                    <li><a href="/settings/">Settings</a></li>
                    <li>
                    {% if session.get("auth") == True %}
                    <a href="/auth/logout">Logout</a>
                    {% else %}
                    <a href="/auth/login" data-transition="slideup">Login</a>
                    {% endif %}
                    </li>
                    <li><a href="/history/">History</a></li>
                </ul>
		 </div><!-- /navbar -->
    </div><!-- /footer -->
           
{% endblock %}
