{% extends "base.html" %}

{% block page_id %} index {% endblock %}

{% block redirect %} data-url="/" {% endblock %}

{% block header %}
	<div data-role="header"  data-id="concheader" data-backbtn="false">
		<h1>Concierge</h1>
	</div><!-- /header -->
{% endblock %}

{% block page_content %}

	<input type="search" name="password" id="search" value="" />	

	
	<div data-role="content">					
		<ul data-role="listview"  data-theme="c" data-dividertheme="b">
			<!--<li data-role="list-divider">Serviços</li>-->
            {% for service in services %}
                <li><a href="/services/{{service.id}}">{{service.name}}</a></li>
            {% endfor %}
		</ul>
	</div><!-- /content -->
     
{% endblock %}


{% block footer %}
                <div data-role="footer" data-position="fixed" data-id="concfooter" >
                        <div data-role="navbar">
                            <ul>
                                <li><a href="settings">Settings</a></li>
                                <li>
                                {% if session.get("auth") == True %}
                                <a href="/auth/logout">Logout</a>
                                {% else %}
                                <a href="/auth/login" data-transition="slideup">Login</a>
                                {% endif %}
                                </li>
                                <li><a href="historico">Historico</a></li>
                            </ul>
                        </div><!-- /navbar -->
                </div><!-- /footer -->	      
            {% endblock %}