{% extends "base.html" %}

{% block page_id %} login {% endblock %}
	
{% block page_content %}
	<div data-role="content">	
		
		<h4> Entre na sua conta Concierge. </h4>
		
		<form action="/auth/login" method="post">
		
			<div data-role="fieldcontain">
				{{ form.username.label }} {{ form.username(size=20) }}
			</div>

			<div data-role="fieldcontain">
				{{ form.password.label }} {{ form.password(size=20) }}
			</div>

			
			<button type="submit" data-theme="d">Entrar</button>

		</form>
		
		<h4> Não tem conta Concierge? </h4>
		<a href="/auth/register" data-role="button">Registe-se aqui</a> 
		
	</div><!-- /content -->
{% endblock %}

