{% extends "base.html" %}

{% block page_id %} login {% endblock %}
{% block redirect %}  {% endblock %}


{% block header %}
    <div data-role="header" data-backbtn="false">
        <h1>Entrar</h1>
        <a href="/" class="ui-btn-right">Cancel</a>
    </div><!-- /header -->
{% endblock %}
            
{% block page_content %}
	<div data-role="content">	
		
		<h4> Entre na sua conta Concierge. </h4>
		
		<form action="/auth/login" method="post">
            <fieldset>
            
				{{ form.username.label }} {{ form.username(size=20) }}
                 <span class="error">
                    {% for error in form.username.errors  %}
                        {{ error }} 
                    {% endfor %}
                </span>  
				{{ form.password.label }} {{ form.password(size=20) }}
                 <span class="error">
                    {% for error in form.password.errors  %}
                        {{ error }} 
                    {% endfor %}
                </span>  
            </fieldset>
			<input id="Submit1" type="submit" value="Entrar" data-role="button" data-inline="true" data-theme="b" />

		</form>
		<hr />
		<h4> Não tem conta Concierge? <a href="/auth/register">Registe-se aqui.</a> </h4>
		
		
	</div><!-- /content -->
{% endblock %}

