{% extends "base.html" %}

{% block page_id %} login {% endblock %}

{% block redirect %} data-url="{{ url_for('auth.login') }}" {% endblock %}

{% block header %}
<div data-role="header" data-backbtn="false">
    <h1>Sign in</h1>
    <a href="/" class="ui-btn-right" data-transition="slidedown">Cancel</a>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">
    <h4> LogIn to your concierge account. </h4>
    <form action="{{ url_for('auth.login') }}" method="POST">
        <fieldset>
            {{ form.csrf }}
            {{ form.username(placeholder=form.username.label.text) }}
            <span class="error">
                {% for error in form.username.errors  %}
                {{ error }}
                {% endfor %}
            </span>
            {{ form.password(placeholder=form.password.label.text) }}
            <span class="error">
                {% for error in form.password.errors  %}
                {{ error }}
                {% endfor %}
            </span>
            {{ form.remember }} {{ form.remember.label }}
            <input type="submit" value="Sign in" data-role="button" data-inline="true" data-theme="b" />
        </fieldset>
    </form>
    <hr />
    <h4> Don't have an account? <a href="/auth/register">Register here.</a> </h4>
</div><!-- /content -->
{% endblock %}

{% block footer %} {% endblock %}
