
{% extends "base.html" %}

{% block page_id %}map{% endblock %}

{% block redirect %} data-url="/map" {% endblock %}

{% block class %} class="page-map" {% endblock %}

{% block header %}
    <div data-role="header" data-backbtn="false">
        <h1>Map</h1>
        <a href="/" class="ui-btn-left">Back</a>
    </div><!-- /header -->
{% endblock %}
	
{% block page_content %}
    <script type="text/javascript">

        // When map page opens get location and display map
        $('.page-map').live("pagecreate", function() {

            //boston :)
            var lat = 38.660911,
                lng = -9.205256;

            var latlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 17,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),myOptions);
        });     
    </script>
    <link rel="stylesheet" href="/static/map.css" />

    <div data-role="content"> 
        <div id="map-canvas">
            <!-- map loads here... -->
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
