{% extends "base.html" %}

{% block page_id %}ratings{% endblock %}

{% block redirect %}data-url="/services/ratings"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>Ratings</h1>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">
    <ul data-role="listview"  data-theme="c">
        {% for service,rating in ratings.items() %}
        <li>
            <a href="/services/{{service.id}}">
                <h3>{{service.name}}</h3>
                <span class="ui-li-count">{{rating}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div><!-- /content -->

<script type="text/javascript">
    $('#ratings').live('pagebeforeshow', function(event) {
        if (!auth) {
            var list = $("#ratings ul");
            list.empty();
            for (var i = 0; i < localStorage.length; i++){
                    var key = localStorage.key(i);
                    if (key.indexOf("service_rating") == 0){
                        var id = key.substring("service_rating.".length);
                        var name = localStorage.getItem("service_name." + id);
                        var rating = localStorage.getItem(key);
                        list.append('<li><a href="/services/' + id + '">' + "<h3>" + name + "</h3>" + "<span class='ui-li-count'>" + rating + "</span></a></li>");
                    }
                }
                list.listview('refresh');
            }
    });
</script>
{% endblock %}

{% block footer %} {% endblock %}
