{% extends "base.html" %}

{% block page_id %} register {% endblock %}
	
{% block page_content %}
	<div data-role="content">	
		
		<h2> Registo de utilizador </h2>
		<form action="/auth/register" method="post">
		
			<div data-role="fieldcontain">
				{{ form.username.label }} {{ form.username(size=20) }}
			</div>

			<div data-role="fieldcontain">
				{{ form.password.label }} {{ form.password(size=20) }}
			</div>
			
			<button type="submit" data-theme="d">Submit</button>
		</form>
		
	</div><!-- /content -->
{% endblock %}

