{% extends "base.html" %}

{% block page_id %}register_service{% endblock %}

{% block redirect %}data-url="/services/register"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>{{ _('Register Service') }}</h1>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">
    <p>{{ _('Please insert the url with the service metadata to perform the submission.') }}</p>
    <form action="{{ url_for('services.register') }}", method="POST">
        <fieldset>
            {{ form.csrf }}
            <div data-role="fieldcontain">
                {{form.url(placeholder = form.url.label.text) }}
                {% for error in form.url.errors  %}
                <div class="formerror"><span class="error">{{ error }}</span></div>
                {% endfor %}
            </div>
            <input type="submit" value="Register" data-role="button" data-inline="true" data-theme="b" />
        </fieldset>
    </form>
</div><!-- /content -->
{% endblock %}

{% block footer %} {% endblock %}
