{% extends "base.html" %}

{% block page_id %} register {% endblock %}
	
{% block header %}
    <div data-role="header" data-backbtn="false">
        <h1>Sign Up</h1>
        <a href="/" class="ui-btn-left">Back</a>
    </div><!-- /header -->
{% endblock %}
    
{% block page_content %}
	<div data-role="content">	
		
		<h2> Registo de utilizador </h2>
		<form action="/auth/register" method="post">
		
            <fieldset>
                {% for field in form %}
                {{field(placeholder=field.label.text) }}
                <span class="error">
                    {% for error in field.errors  %}
                        {{ error }} 
                    {% endfor %}
                </span>  
                {% endfor %}
				 
			</fieldset>
			<input id="SubmitReg" type="submit" value="Sign up" data-role="button" data-inline="true" data-theme="b" />
		</form>
		
	</div><!-- /content -->
{% endblock %}

