{% if element.get('service_id') %}
<a href="/services/{{element.get('service_id')}}/browse{{element.get('url')}}">
{% elif element.get('kind') %}
<a href="/search?query={{element.get('kind')}} {{element.text}}">
{% endif %}

{% if element.get('type') == "string" %}
    {{ element.text }}

{% elif element.get('type') == "email" %}
    <a href="mailto:{{ element.text }}">{{ element.text }}</a>

{% elif element.get('type') == "image" %}
    <img src="{{ element.text }}"/>

{% elif element.get('type') == "list" %}
    <ul data-role="listview" data-inset="true">
    {% for e in element %}
        {% with element = e %}
        <li>{% include "render.html" %}</li>
        {% endwith %}
    {% endfor %}
    </ul>

{% elif element.get('type') == "map" %}
    <link rel="stylesheet" href="/static/map.css" />
    <script type="text/javascript">
        // When map page opens get location and display map
        $('div').live("pagecreate", function() {         
     

            var lat = 38.66097,
                lng = -9.203217;

            var latlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 17,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),myOptions);
            
            var str = String("{{element[2].text}}"); 

            var polygon;

            var triangleCoords = [
                new google.maps.LatLng(25.774252, -80.190262),
                new google.maps.LatLng(18.466465, -66.118292),
                new google.maps.LatLng(32.321384, -64.75737),
                new google.maps.LatLng(25.774252, -80.190262)
            ];

            // Construct the polygon
            // Note that we don't specify an array or arrays, but instead just
            // a simple array of LatLngs in the paths property
            polygon = new google.maps.Polygon({
                paths: triangleCoords,
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35
            });

            polygon.setMap(map);
        }); 
        </script>
        <p></p>
        <div id="map-canvas">
            <!-- map loads here... -->
        </div>
        <p id="ele">{{element[2].text}}</p>      


{% elif element.get('type') == "record" %}
    <h1>{{ element[0].text }}</h1>
    <dl>
    {% for e in element[1:] %}
        <dt><h4>{{ e.get('name', '') }}</h4></dt>
        {% with element = e %}
        <dd>{% include "render.html" %}</dd>
        {% endwith %}
    {% endfor %}
{% endif %}


{% if element.get('service_id') or element.get('kind') %}
    </a>
{% endif %}

    
