{% extends "base.html" %}

{% block page_id %}service{{service.id}}_browse{% endblock %}

{% block redirect %}data-url="/services/{{service.id}}/browse"{% endblock %}

{% block header %}
<div data-role="header" data-id="concheader">
    <a href="/" class="ui-btn-left">Back</a>
    <h1>{{service.name}}</h1>
</div>
{% endblock %}

{% block page_content %}
<div data-role="content">
    <ul data-role="listview"  data-theme="c" data-dividertheme="a" data-inset="True">
        {% for r in resources %}
        <li><a href="/services/{{service.id}}/browse/{{r.url}}">{{r.url}}</a></li>
        {% endfor %}
    </ul>
</div><!-- /content -->
{% endblock %}


{% block footer %} {% endblock %}
