{% extends "base.html" %}

{% block page_id %}service{{service.id}}_browse{{url}}{% endblock %}

{% block redirect %}data-url="/services/{{service.id}}/browse/{{url}}"{% endblock %}

{% block class %}class="page-map"{% endblock %}
{% block header %}
<div data-role="header" data-id="concheader">
    <h1>{{service.name}}/{{url}}</h1>
</div>
{% endblock %}

{% block page_content %}
<div data-role="content">
    {{html|safe}}
</div><!-- /content -->
{% endblock %}


{% block footer %} {% endblock %}
