{% extends "base.html" %}

{% block page_id %}service{{service.id}}{% endblock %}

{% block redirect %}data-url="/services/{{service.id}}"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>{{service.name}}</h1>
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>    
</div><!-- /header -->
{% endblock %}

{% block page_content %}

<div data-role="content">
    <form action="/services/{{service.id}}" method="POST">
        <fieldset>
            <p> Check/Uncheck this service to favorite it.</p>
            {{form.favorite}} {{form.favorite.label}}
            <p>Give it a rating (1 to 5).</p>
            <input type="range" name="{{form.rating.name}}" id="slider" value="{{form.rating.data}}" min="1" max="5"  />
            <!-- put error presentation here /-->
        </fieldset>
        <input id="submit" type="submit" value="Save" data-role="button" data-inline="true" data-theme="b" />
    </form>
</div><!-- /content -->

<script type="text/javascript">

$('#service{{service.id}}').live('pagebeforeshow',function(event){
    if (!auth) {
        $('#service{{service.id}} input[name="{{form.rating.name}}"]').val(localStorage.getItem("service_rating.{{service.id}}")).slider("refresh");
        $('#service{{service.id}} input[name="{{form.favorite.name}}"]').attr("checked", localStorage.getItem("service_favorite.{{service.id}}")=="true").checkboxradio("refresh");
    }
});

$("#service{{service.id}} form").submit(function(e) {
    if (!auth) {
        var rating = $('#service{{service.id}} input[name="{{form.rating.name}}"]').val();
        if (rating != "")
            localStorage.setItem("service_rating.{{service.id}}", rating);
        var favorite = $('#service{{service.id}} input[name="{{form.favorite.name}}"]').attr("checked");
        if (favorite == true)
            localStorage.setItem("service_favorite.{{service.id}}", favorite);
        else
            localStorage.removeItem("service_favorite.{{service.id}}");

        localStorage.setItem("service_name.{{service.id}}", "{{ service.name }}");
    }
});
</script>

{% endblock %}

{% block footer %} {% endblock %}


