{% extends "base.html" %}

{% block page_id %} service {% endblock %}

{% block page_content %}
	<div data-role="content">	
		<ul data-role="listview">
			<li><a href="#index">
				
				<h3>Adicionar a Favorito</h3>
				<p><strong>Adicionar o serviço1 à lista de favoritos.</strong></p>
				
			</a></li>
			<li><a href="#index">
				
				<h3>Explorar o serviço1</h3>
				<p><strong>Explorar directamente as directorias do serviço1</strong></p>
				
			</a></li>
			<li><a href="#index">
				<h3>Atribuir rating ao serviço1</h3>
				<p><strong>Atribuir um rating de 1 a 5 ao serviço1</strong></p>
			</a></li>
			
		</ul>

	</div><!-- /content -->


	<div data-role="footer" data-position="fixed" data-id="concfooter" >
			<div data-role="navbar">
				<ul>
					<li><a href="config" >Configurações</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="historico">Historico</a></li>
				</ul>
			</div><!-- /navbar -->
	</div><!-- /footer -->			
{% endblock %}
