{% extends "base.html" %}

{% block page_id %}settings{% endblock %}

{% block redirect %}data-url="/settings"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>Settings</h1>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">	
    <ul data-role="listview">
        <li><a href="/services/favorites">
                <h3>Favorites</h3>
                <p>View your favorite services</p>
        </a></li>
        <li><a href="/services/ratings">
                <h3>Ratings</h3>
                <p>View all assigned ratings</p>
        </a></li>
        <li><a href="/services/ratings">
                <h3>Ratings</h3>
                <p>View all assigned ratings</p>
        </a></li>
        <li><a href="/services/register">
                <h3>Add a Service</h3>
                <p>Register a new service in Concierge</p>
        </a></li>
    </ul><!--/config_list-->
</div><!-- /content -->


<script type="text/javascript">
    $('#settings').live('pagebeforeshow', function(event) {
        var anchor = $('#settings #import');
        var link = "/services/import?";
        for (var i = 0; i < localStorage.length; i++) {
            var key = localStorage.key(i);
            if (key.indexOf("service_favorite.") === 0) {
                var id = parseInt(key.substring("service_favorite.".length));
                link = link + "&f=" + id
            }
            else if (key.indexOf("service_rating") == 0) {
                var id = key.substring("service_rating.".length);
                var rating = localStorage.getItem(key);
                link = link + "&r=" + id + "." + rating;
            }
        }
        anchor.attr('href', link);
    });
</script>
{% endblock %}

{% block footer %} {% endblock %}
