{% extends "base.html" %}

{% block page_id %}settings{% endblock %}

{% block redirect %}data-url="/settings"{% endblock %}

{% block header %}
<div data-role="header">
    <h1>{{ _('Settings') }}</h1>
</div><!-- /header -->
{% endblock %}

{% block page_content %}
<div data-role="content">	
    <ul data-role="listview">
        <li><a href="/services/favorites">
            <h3>{{ _('Favorites') }}</h3>
            <p>{{ _('View your favorite services') }}</p>
        </a></li>
        <li><a href="/services/ratings">
            <h3>{{ _('Ratings') }}</h3>
            <p>{{ _('View all assigned ratings') }}</p>
        </a></li>
        <li><a id="import" href="/services/import">
            <h3>{{ _('Import') }}</h3>
            <p>{{ _('Import data from this device to your user account') }}</p>
        </a></li>
        <li><a href="/services/register">
            <h3>{{ _('Add a Service') }}</h3>
            <p>{{ _('Register a new service') }}</p>
        </a></li>
    </ul><!--/config_list-->
</div><!-- /content -->


<script type="text/javascript">
    $('#settings').live('pagebeforeshow', function(event) {
        var anchor = $('#settings #import');
        var link = "/services/import?";
        for (var i = 0; i < localStorage.length; i++) {
            var key = localStorage.key(i);
            if (key.indexOf("service_favorite.") === 0) {
                var id = parseInt(key.substring("service_favorite.".length));
                link = link + "&f=" + id
            }
            else if (key.indexOf("service_rating") == 0) {
                var id = key.substring("service_rating.".length);
                var rating = localStorage.getItem(key);
                link = link + "&r=" + id + "." + rating;
            }
        }
        anchor.attr('href', link);
    });
</script>
{% endblock %}

{% block footer %} {% endblock %}
