<!DOCTYPE html>
<html> 
	<head>
		<!--<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">-->
		<title>Concierge</title> 
		
		
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>		
	</head> 

	<body> 
		<div data-role="page" id="historico">

			<div data-role="header" data-position="fixed" data-id="concheader" >
				<h1>Concierge</h1>
			</div><!-- /header -->

			<div data-role="content">	
			
				<ul data-role="listview"  data-theme="c" data-dividertheme="b">
					<!--<li data-role="list-divider">Serviços</li>-->
					<li><a href="index.html">Pesquisa 1</a></li>
					<li><a href="index.html">Pesquisa 2</a></li>
					<li><a href="index.html">Pesquisa 3</a></li>
					<li><a href="index.html">Pesquisa 4</a></li>
					<li><a href="index.html">List views</a></li>
					<li class="ui-body ui-body-b">
						<fieldset class="ui-grid-a">
								<div class="ui-block-b"><button type="submit" data-theme="a">Eliminar historico</button></div>
						</fieldset>
					</li>
				</ul>
			</div><!-- /content -->
		</div><!-- /page -->
	</body>
</html>


















	<body> 



	</body>
